.bg-dark.text-light.p-2.d-flex
	= render partial: "videos/controls/buttons/play_pause"
	= render partial: "videos/controls/time_range"
	= render partial: "videos/controls/buttons/cc"
	= render partial: "videos/controls/buttons/ad"
	= render partial: "videos/controls/buttons/settings"
	= render partial: "videos/controls/buttons/cast"
	= render partial: "videos/controls/buttons/pip"
	= render partial: "videos/controls/buttons/fs"
	
			