.container.mt-4
	.col-md-8.mx-auto
		%h1 Personal Info

		= form_with(model: [camp, application, pi]) do |f|
			.row
				.col-6.mb-4
					.form-floating.required
						= f.text_field :first_name, placeholder: "First (Preferred) Name (e.g. Jane)", required: true, class: "border border-dark form-control", value: current_user.profile.first_name
						= f.label :first_name, "First (Preferred) Name (e.g. Jane)", aria:{hidden: "true"}
						
				.col-6.mb-4
					.form-floating.required
						= f.text_field :last_name, placeholder: "Last Name (e.g. Smith)", required: true, class: "border border-dark form-control", value: current_user.profile.last_name
						= f.label :last_name, "Last Name (e.g. Smith)", aria:{hidden: "true"}

			.fieldset.required.border.border-dark.ps-4.pe-4.pt-4.mb-4
				= render '/shared/check_box_group', f: f, inst: @pi, legend: "What is your gender?", helper_text: "If your gender is not listed, please enter your own in the \"Other Gender\" text field.  You may select more than one gender identity.", this_method: gender_identities, attribute: "gender", cols: "col-6"
				
				- a1 = []
				- if !pi.gender.nil?
					- pi.gender.each do |g|
						- if !gender_identities.include?(g)
							- a1 << g
				- gender_value = a1.join(" ")

				.form-floating.mb-4
					- if a1.empty?
						%input.border.border-dark.form-control{type: "text", name: "camp_application_pi[gender][]", id: "camp_application_pi_gender_other", placeholder: "Other Gender"}
					- else
						%input.border.border-dark.form-control{type: "text", name: "camp_application_pi[gender][]", id: "camp_application_pi_gender_other", placeholder: "Other Gender", value: gender_value}
					%label{for: "camp_application_pi_gender_other"} Other Gender
			
			.fieldset.required.border.border-dark.ps-4.pe-4.pt-4.mb-4
				= render "/shared/check_box_group", f: f, inst: @pi, legend: "What are your pronouns?", helper_text: "If your pronouns are not listed, please indicate in the \"Other Pronouns\" text field.  You may select more than one set of pronouns.", attribute: "pronouns", cols: "col-6 col-md-6", this_method: basic_pronoun_list

				- a2 = []
				- if !pi.pronouns.nil?
					- pi.pronouns.each do |p|
						- if !basic_pronoun_list.include?(p)
							- a2 << p
				- pronoun_value = a2.join(" ")

				.form-floating.mb-4
					- if a2.empty?
						%input.border.border-dark.form-control{type: "text", name: "camp_application_pi[pronouns][]", id: "camp_application_pi_pronoun_other", placeholder: "Other Pronouns"}
					- else
						%input.border.border-dark.form-control{type: "text", name: "camp_application_pi[pronouns][]", id: "camp_application_pi_pronoun_other", placeholder: "Other Pronouns", value: pronoun_value}
					%label{for: "camp_application_pi_pronoun_other"} Other Pronouns
			

			.fieldset.required.border.border-dark.ps-4.pe-4.pt-4.mb-4
				%legend What is your Date of Birth?

				.input-group.mb-4
					= f.date_select :dob, {order: [:month, :day, :year], month_format_string: "%<number>02d %{name}", prompt: true, start_year: (Date.today.year - 18), end_year: (Date.today.year - 110)}, {class: "form-select form-select-lg border border-dark", required: true}
			
			.fieldset.border.border-dark.ps-4.pe-4.pt-4.mb-4
				%legend Primary Address
				
				- if @pi.address.nil?
					= f.fields_for :address, @pi.build_address do |a|
						= render "/admin/addresses/address", a: a, pi: @pi, counties: @counties
				- else
					- a = pi.address
							
					%address
						#{a.address_l1} <br>
						#{a.address_l2} <br>
						#{a.city}, #{a.state_province.code} #{a.zippostal} <br>
						#{a.county.name}, #{a.state_province.country.name} <br>
			
			-#= render "phone_number"

			
			.row
				.col-6
					.row.p-2
						= link_to "Go Back", new_camp_camp_application_camp_application_covid_path(@camp, @application), class: "btn btn-secondary btn-lg", role: "button"
				.col-6
					.row.p-2
						= f.submit "Continue", class: "btn btn-primary btn-lg"
