.container.mx-auto.mt-4
	%h1 New Image Set

	= form_with(model: [:store, :manage, @image_set]) do |f|
		.form-floating.mb-4
			= f.text_field :label, placeholder: "Label", class: "form-control border border-dark"
			= f.label :label, "Label"

		.row
			= f.hidden_field :product_id, value: @product.id
			= f.submit "Create", class: "btn btn-primary btn-lg"