.container.mt-4.mb-4
	%h2 Article #{@article.roman_numeral.upcase}: #{@article.title.upcase}

	= simple_format(@article.introduction)

	- @sections.each do |section|
		.mb-4.border.border-dark.p-2
			%h3 Section #{section.sec_num}: #{section.title}
			= simple_format(section.content)
			
			- section.bylaw_article_subsections.each do |subsec|
				.p-4.mb-4
					%h3 #{subsec.title}
					= simple_format(subsec.content)
					
					.container.bg-dark
						.row.bg-dark
							.col-md-2.text-center
								= button_to "Edit", edit_admin_bylaw_article_subsection_path(subsec), method: :get, class: "btn btn-lg btn-dark"
							.col-md-2.text-center
								= button_to "Delete", [:admin, subsec], method: :delete, class: "btn btn-lg btn-dark"
							
			.container.bg-dark
				.row.bg-dark
					.col-md-2.text-center
						= button_to "Edit", edit_admin_bylaw_article_section_path(section), method: :get, class: "btn btn-lg btn-dark"
					.col-md-2.text-center
						= button_to "Delete", [:admin, section], method: :delete, class: "btn btn-lg btn-dark"
					.col-md-3.text-center
						= button_to "Add Subsection", new_admin_bylaw_article_section_bylaw_article_subsection_path(section), method: :get, class: "btn btn-dark btn-lg"
	.row.mb-4
		= link_to new_admin_bylaw_article_bylaw_article_section_path(@article), class: "btn btn-primary btn-lg", role: "button" do 
			%i.bi.bi-plus{aria:{hidden: true}}
			Add Section


	