.col-12.col-md-4.mx-auto.pt-4
	%h1 FAQs
	= link_to "New", new_challenge_faq_path(@challenge)
	
	- @faqs.each do |q|
		- if q.group_number == 0
			%h2 #{q.question_group}
			= q.answer.html_safe
			= link_to "Edit", edit_challenge_faq_path(@challenge, q)

	- @groups.each_with_index do |g, i|
		- if i > 0
			%h2 #{g[:group]}
		- @faqs.each do |q|
			- if i == q.group_number and i > 0
				.ms-4.mb-4
					%details
						%summary
							%h3 #{q.question}
						.ms-4.ps-4
							= q.answer.html_safe
							= link_to "Edit", edit_challenge_faq_path(@challenge, q)
