.form-floating.mb-4
	- if milestone.nil?
		= f.select :milestone_type, options_for_select(challenge.milestone_categories), {prompt: "Choose One. . . "}, class: "form-control border border-dark"
		= f.label :milestone_type, "Type"
	- else
		= f.select :milestone_type, options_for_select(challenge.milestone_categories, selected: milestone.milestone_type), {prompt: "Choose One. . . "}, class: "form-control border border-dark"
		= f.label :milestone_type, "Type"

.form-floating.mb-4
	= f.text_field :name, placeholder: "Name", class: "form-control border border-dark"
	= f.label :name, "Name"

.form-floating.mb-4
	= f.text_field :prize, placeholder: "Prize", class: "form-control border border-dark"
	= f.label :prize, "Prize"

.row
	.col-6.form-floating.mb-4
		.form-floating.mb-4
			= f.number_field :goal, placeholder: "Goal", min: 0, class: "form-control border border-dark"
			= f.label :goal, "Goal"
	
	.col-6.form-floating.mb-4
		.form-floating.mb-4
			- if milestone.nil?
				= f.select :goal_unit, options_for_select(challenge.goal_units), {prompt: "Choose One. . . "}, class: "form-control border border-dark"
				= f.label :goal_unit, "Goal Unit"
			- else
				= f.select :goal_unit, options_for_select(challenge.goal_units, selected: milestone.goal_unit), {prompt: "Choose One. . . "}, class: "form-control border border-dark"
				= f.label :goal_unit, "Goal Unit"

.d-grid.d-block.mb-4
	= f.check_box :hidden, {class: "btn-check"}, true, false
	= f.label :hidden, "Hidden", class: "btn btn-outline-dark btn-lg text-start"

.form-floating.mb-4
	= f.text_area :description, placeholder: "Description", class: "form-control border-dark border", data: {controller: "textarea-autogrow"}
	= f.label :description, "Description"

= f.fields_for :photo, badge do |p|
	.form-group
		- unless milestone.nil?
			- if badge.file.attached?
				%img{src: url_for(badge.file), alt: "", width: "100%"}
				= p.label :file, "Change Badge Image"
		= p.label :file, "Choose Badge Image"
		= p.file_field :file
		= p.hidden_field :image_type, value: "Badge Image"

.row.p-4
	= f.submit "Create", class: "btn btn-lg btn-dark"
		
			
			