.container.mt-4
	.col-md-8.mx-auto
		%h1 #{@camp.title}

		- Time.use_zone("Eastern Time (US & Canada)") do
			%p.text-muted From #{@camp.start.strftime("%A, %B %d, %Y %l:%M %p")} to #{@camp.end.strftime("%A, %B %d, %Y %l:%M %p (%Z)")}
		
		.row.mb-4
			.col-md-4.d-grid.d-block
				= link_to "Apply Now", new_camp_camp_application_path(@camp), class: "btn btn-primary btn-lg"
			.col-md-4.d-grid.d-block
				= link_to "Edit", edit_camp_path(@camp), class: "btn btn-secondary btn-lg"
			.col-md-4.d-grid.d-block
				= button_to "Delete", camp_path(@camp), form: { data: { turbo:false }}, method: :delete, class: "btn btn-danger btn-lg"

		

		%h2 Description
		%p #{@camp.description}

		%h2 Application Types
		- @camp.camp_application_types.each do |type|
			%h3 #{type.kind} -- #{number_to_currency((type.cost.to_f / 100), {precision: 0})} #{link_to "Edit", edit_camp_camp_application_type_path(type.camp, type)}

			%p #{type.description}
			