.container.mt-4
	.col-md-8.mx-auto
		%h1 #{@camp.title}

		%p.text-muted From #{@camp.start.in_time_zone.strftime("%A, %B %d, %Y %l:%M %p")} to #{@camp.end.strftime("%A, %B %d, %Y %l:%M %p (EST)")}
		
		.row.mb-4
			- if signed_in?
				- unless @camp.camp_applications.map { |m| m.user_id == current_user&.id }
					%p test
			- else
				.col-md-4.d-grid.d-block
					-# = link_to "Apply Now", new_camp_camp_application_path(@camp), class: "btn btn-primary btn-lg"
					- unless @camp.app_url.nil?
						%a.btn.btn-dark.btn-lg{href: @camp.app_url} Apply Now
			
			- if current_user&.admin?
				.col-md-4.d-grid.d-block
					= link_to "Edit", edit_camp_path(@camp), class: "btn btn-secondary btn-lg"
				.col-md-4.d-grid.d-block
					= link_to "Applications", camp_camp_applications_path(@camp, filter: "all"), class: "btn btn-secondary btn-lg"
				.col-md-4.d-grid.d-block
					= link_to "Contact Info Report", camp_contact_info_report_path(@camp), class: "btn btn-secondary btn-lg"
				.col-md-4.d-grid.d-block
					= link_to "Meal Summary Report", camp_meal_summary_report_path(@camp), class: "btn btn-secondary btn-lg"
				.col-md-4.d-grid.d-block
					= button_to "Delete", camp_path(@camp), form: { data: { turbo:false }}, method: :delete, class: "btn btn-danger btn-lg"

		

		%h2 Description
		%p #{simple_format(@camp.description)}

		%h2 Application Types
		- if current_user&.admin?
			.row.mb-4
				= link_to "New Type", new_camp_camp_application_type_path(@camp), class: "btn btn-primary btn-lg", role: "button"
		- @camp.camp_application_types.each do |type|
			%h3 
				#{type.kind} -- #{number_to_currency((type.cost.to_f / 100), {precision: 0})} 
				- if current_user&.admin?
					#{link_to "Edit", edit_camp_camp_application_type_path(type.camp, type)}

			%p #{type.description}
			
		%h2.d-none.text-center Thank You to our Sponsors
		.d-none.row.mb-4
			.col-6.col-md-3.mx-auto
				%img.w-100{src: "https://storage.googleapis.com/dbsan-public/sponsors/Spectrum_Logo_RGB%20(1).png", alt: "Spectrum"}
			.col-6.col-md-3.mx-auto
				%img.w-100{src: "https://storage.googleapis.com/dbsan-public/sponsors/ASD%20LOGO.png", alt: "ASD"}
			.col-6.col-md-3.mx-auto
				%img.w-100{src: "https://storage.googleapis.com/dbsan-public/sponsors/WRSD%20logo.jpg", alt: "WRSD"}
			.col-6.col-md-3.mx-auto
				%img.w-100{src: "https://storage.googleapis.com/dbsan-public/sponsors/image.png", alt: "CAD"}
