%turbo-frame{id: "block_#{block.id}", data:{turbo:{action: "advance"}}}
	.card.border.border-dark.mb-4
		.card-body
			.d-flex.mb-4
				.p-2.bg-dark.text-light.text-center{style: "min-width: 15%; max-width: 15%"}
					%strong #{block.cue_num}
				.p-2.flex-grow-1
					%strong #{block.cue_type.titleize}
				-#= render partial: "videos/cue_blocks/more_actions/show_more_actions", locals: {block: block}
			= form_with(model: [block.video, block]) do |f|
				.input-group.input-group-lg.mb-4
					.form-floating
						= f.text_field :start, placeholder: "Start Time", class: "form-control border border-dark"
						= f.label :start, "Start Time"
					.form-floating
						= f.text_field :end, placeholder: "End Time", class: "form-control border border-dark"
						= f.label :end, "End Time"
				- block.payload.each_with_index do |p, i|
					.input-group.input-group-lg.mb-4
						.form-floating
							%input.border.border-dark.form-control{id: "cue_block_payload_#{i}", type: "text", placeholder: "Line 1", value: p, name: "cue_block[payload][]"}
							%label{for: "cue_block_payload_#{i}"} Line #{i + 1}
						.input-group-text.bg-dark.text-light
							%span 40
				- if block.payload.length == 0
					.input-group.input-group-lg.mb-4
						.form-floating
							%input.border.border-dark.form-control{id: "cue_block_payload_1", type: "text", placeholder: "Line 1", name: "cue_block[payload][]"}
							%label{for: "cue_block_payload_1"} Line 1
						.input-group-text.bg-dark.text-light
							%span 76
				- if block.payload.length <= 1
					.input-group.input-group-lg.mb-4
						.form-floating
							%input.border.border-dark.form-control{id: "cue_block_payload_1", type: "text", placeholder: "Line 2", name: "cue_block[payload][]"}
							%label{for: "cue_block_payload_2"} Line 2
						.input-group-text.bg-dark.text-light
							%span 76
				.d-grid.d-block.mb-2.col-12
					= f.check_box :sdh, { class: "btn-check" }
					= f.label :sdh, "Contains SDH", class: "btn btn-outline-dark btn-lg text-start"
				.row.p-2
					%input.btn.btn-dark.btn-lg{type: "submit", value: "Save"}