%turbo-frame{id: "block_#{block.id}", data:{turbo:{action: "advance"}}}
	.card.border.border-dark.mb-4
		.card-body
			.d-flex.mb-4
				.p-2.bg-dark.text-light.text-center{style: "min-width: 15%; max-width: 15%"}
					%strong #{block.cue_num}
				.p-2.flex-grow-1
					%strong #{block.cue_type.titleize}
				-#= render partial: "videos/cue_blocks/more_actions/show_more_actions", locals: {block: block}
			= form_with(model: [block.video, block]) do |f|
				.form-floating
					= f.text_field :start, placeholder: "Start Time", class: "form-control border border-dark"
					= f.label :start, "Timestamp"
				- unless block.payload.nil?
					- block.payload.each do |p|
						.form-floating
							%input.border.border-dark.form-control{id: "cue_block_payload_#{i}", type: "text", placeholder: "Chapter Title", value: p, name: "cue_block[payload][]"}
							%label{for: "cue_block_payload_#{i}"} Chapter Title
				- else
					.form-floating
						%input.border.border-dark.form-control{id: "cue_block_payload_#{i}", type: "text", placeholder: "Chapter Title", value: p, name: "cue_block[payload][]"}
						%label{for: "cue_block_payload_#{i}"} Chapter Title
				.row.p-2
					%input.btn.btn-dark.btn-lg{type: "submit", value: "Save"}