.container-lg.pt-4
	%h1 New Member

	= form_with(model: @member, url: members_path) do |f|
		- if @member.errors.any?
			%ul
				- @member.errors.full_messages.each do |e|
					%li #{e}
					
		.form-group.mb-4
			= f.label :user_id, "Select User"
			= f.select :user_id, options_for_select(user_select), {prompt: "Choose one. . . "}, class: "form-select border border-dark"
		.row
			= f.submit "Add", class: "btn btn-dark btn-lg"
