.container.mt-4
	.col-md-8.mx-auto{data:{controller: "covid"}}
		%h1 COVID-19 Vaccination

		%p For the health and safety of all people at the Retreat, only people that are fully vaccinated will be allowed to be on Isola Bella. Fully vaccinated means having one shot of Johnson & Johnson OR two shots of either Moderna or Pfizer. Upon being accepted, we will schedule a video meeting over Facetime, Zoom, or VP to verify your vaccination status.
		
		= form_with(model: [camp, application, covid]) do |f|
			.fieldset.border.border-dark.ps-4.pe-4.pt-4.mb-4
				%legend Have you been vaccinated against COVID-19?

				.row.mb-4
					.col-6.d-grid.d-block.mb-2
						= f.radio_button :vaccinated,  true, class: "btn-check", data:{action: 'covid#showVaccinationTypes'}
						= f.label :vaccinated_true, "Agree", class: "btn btn-outline-dark btn-lg text-start"
				
					.col-6.d-grid.d-block.mb-2
						= f.radio_button :vaccinated,  false, class: "btn-check" , data:{action: 'covid#hideVaccinationTypes'}
						= f.label :vaccinated_false, "Disagree", class: "btn btn-outline-dark btn-lg text-start"
			
			- if covid.vaccinated?
				#div{data:{covid:{target: "vaccinationtypes"}}}
					= render "vaccination", f: f
			- else
				.d-none{data:{covid:{target: "vaccinationtypes"}}}
					= render "vaccination", f: f
			

			.row
				.col-6
					.row.p-2
						= link_to "Go Back", new_camp_camp_application_camp_application_permission_path(@camp, @application), class: "btn btn-secondary btn-lg", role: "button"
				.col-6
					.row.p-2
						= f.submit "Continue", class: "btn btn-primary btn-lg"
