%turbo-frame{id: "content", data:{turbo:{action: "advance"}}}
	.p-4
		%h1 Video Details

		.row
			.col-9
				%turbo-frame{id: "left-side", data:{turbo:{action: "advance"}}}
					= form_with(model: video) do |f|
						.input-group.input-group-lg.mb-4
							.form-floating
								= f.text_field :title, class: "form-control border border-dark", placeholder: "Video Title"
								= f.label :title, "Video Title"
							= f.submit "Save", class: "btn btn-dark"
		
					.card.border.border-dark.mb-4
						.card-body
							Description
					.card.border.border-dark.mb-4
						.card-body
							Tags

					.row
						.col-6.col-md-3.mb-4
							.card.border.border-dark
								.position-relative.w-100{style: "padding-top: 100%"}
									.position-absolute.top-0.start-0.bottom-0.end-0
										.row.h-100
											.align-self-center.text-center
												.display-1.bi.bi-music-note-beamed
												.heading-6 Audio
										

						.col-6.col-md-3.mb-4
							.card.border.border-dark
								.position-relative.w-100{style: "padding-top: 100%"}
									.position-absolute.top-0.start-0.bottom-0.end-0
										.row.h-100
											.align-self-center.text-center
												.display-1.bi.bi-music-note-beamed
												%a.heading-6.stretched-link.text-dark.text-decoration-none{href: video_text_tracks_path(video)} Text Tracks

						.col-6.col-md-3.mb-4
							.card.border.border-dark
								.position-relative.w-100{style: "padding-top: 100%"}
									.position-absolute.top-0.start-0.bottom-0.end-0
										.row.h-100
											.align-self-center.text-center
												.display-1.bi.bi-music-note-beamed
												.heading-6 Aux Tracks

						.col-6.col-md-3.mb-4
							.card.border.border-dark
								.position-relative.w-100{style: "padding-top: 100%"}
									.position-absolute.top-0.start-0.bottom-0.end-0
										.row.h-100
											.align-self-center.text-center
												.display-1.bi.bi-music-note-beamed
												.heading-6 People

						.col-6.col-md-3.mb-4
							.card.border.border-dark
								.position-relative.w-100{style: "padding-top: 100%"}
									.position-absolute.top-0.start-0.bottom-0.end-0
										.row.h-100
											.align-self-center.text-center
												.display-1.bi.bi-music-note-beamed
												.heading-6 Thumbnail

						.col-6.col-md-3.mb-4
							.card.border.border-dark
								.position-relative.w-100{style: "padding-top: 100%"}
									.position-absolute.top-0.start-0.bottom-0.end-0
										.row.h-100
											.align-self-center.text-center
												.display-1.bi.bi-music-note-beamed
												.heading-6 Playlists

						.col-6.col-md-3.mb-4
							.card.border.border-dark
								.position-relative.w-100{style: "padding-top: 100%"}
									.position-absolute.top-0.start-0.bottom-0.end-0
										.row.h-100
											.align-self-center.text-center
												.display-1.bi.bi-music-note-beamed
												.heading-6 Clips

						.col-6.col-md-3.mb-4
							.card.border.border-dark
								.position-relative.w-100{style: "padding-top: 100%"}
									.position-absolute.top-0.start-0.bottom-0.end-0
										.row.h-100
											.align-self-center.text-center
												.display-1.bi.bi-music-note-beamed
												.heading-6 Image Sequences
					.row
						= form_with(model: video) do |f|
							= f.label :original_upload, "Original Upload File"
							= f.file_field :original_upload, direct_upload: true, onChange: "requestSubmit()"

			.col-3
				.position-relative.w-100.bg-dark.text-light{style: "padding-top: 56.25%"}
					.position-absolute.top-0.start-0.bottom-0.end-0.border.border-dark
						.row.h-100
							.align-self-center.text-center
								.display-6 No Thumbnail Available
				.card.border.border-dark.mt-4
					.card-body
						%h2.card-title Video URL
						%a{href: video_url(video)} #{video_url(video)}