.container.mt-4
	.col-md-8.mx-auto
		%h1 Camp Application for the #{@camp.title}

		%p Hi, #{current_user.profile.first_name}!
		%p Thank you for your interest in the #{@camp.title}!  We have #{@camp.camp_application_types.count} types of applications, so please choose which one you are applying for.

		= form_with(model: [camp, application]) do |f|
			= f.hidden_field :camp_id, value: @camp.id
			= f.hidden_field :user_id, value: current_user.id

			.mb-4
				- camp.camp_application_types.each do |kind|
					.d-grid.d-block.mb-2
						= f.radio_button :camp_application_type_id, kind.id, class: "btn-check"
						- label = "camp_application_type_id_#{kind.id}".to_sym
						= f.label label, "I want to apply as a #{kind.kind}", class: "btn btn-outline-dark btn-lg text-start"

			.row.mb-4
				= f.submit "Continue", class: "btn btn-primary btn-lg"
