.container.mt-4
	.col-md-8.mx-auto
		%h1 Camp Applications

		.row
			.col-4.d-grid.d-block
				= link_to "All (#{@apps.count})", camp_camp_applications_path(@camp, filter: "all"), class: "btn btn-primary btn-lg"
			.col-4.d-grid.d-block
				- vols = []
				- @apps.each do |app|
					- if app.camp_application_type.kind == "Volunteer"
						- vols.append(app)
				= link_to "Volunteers (#{vols.count})", camp_camp_applications_path(@camp, filter: "volunteers"), class: "btn btn-primary btn-lg"
			.col-4.d-grid.d-block
				- campers = []
				- @apps.each do |app|
					- if app.camp_application_type.kind == "Participant"
						- campers.append(app)
				= link_to "Campers (#{campers.count})", camp_camp_applications_path(@camp, filter: "participants"), class: "btn btn-primary btn-lg"
			
		- @apps.each do |app|
			.border.border-dark.p-4.mb-4
				%p 
					%strong User Name:
					= app.user.profile.first_name + " " + app.user.profile.last_name
				- if app.camp_application_pi.present?
					%p 
						%strong Applicant Name:
						= app.camp_application_pi.first_name + " " + app.camp_application_pi.last_name
				- if app.camp_application_type.present?
					%p 
						%strong Applicant Type:
						= app.camp_application_type.kind
				- if app.user.confirmed_at.present?
					%p 
						%strong Confirmed At:
						= app.user.confirmed_at
				- if app.status.present?
					%p 
						%strong Status:
						= app.status
				- if app.camp_application_inc.present?
					%p
						%strong Self Identification:
						- unless app.camp_application_inc.identity.nil?
							= app.camp_application_inc.identity.join(", ")
						- else
							N/A
				.d-grid.d-block
					= link_to "View Application", camp_camp_application_path(@camp, app), class: "btn btn-primary btn-lg"
				
				
					
