.container.mt-4
	.col-md-8.mx-auto
		%h1 Camp Application
		- if current_user.id == @application.user.id
			%p Hi #{@application.camp_application_pi.first_name}.

			%p Our records show that you have submitted an application, and we are in the process of reviewing it.  Stay tuned.

		- if current_user&.admin?
			%h2 Basic Information
			%p
				%strong User Name:
				= @user_name
			%p 
				%strong User Email:
				= @user_email
			- if @confirmed.present?
				%p 
					%strong Confirmed Email:
					= @confirmed
			%p 
				%strong Application Status:
				= @status

			
			.row.mb-4
				.col-6.border.border-dark.p-4
					- if @c3.nil?
						%p This user did not fill out a Communication and Code of Conduct form.
					- else
						%h2 Communication and Code of Conduct
						- if @c3.agree?
							.d-grid.d-block.text-center.p-4{style: "background: green; color: white;"}
								AGREED
				.col-6.border.border-dark.p-4
					- if @permission.nil?
						%p This user did not fill out a Permission form.
					- else
						%h2 Permissions
						- if @permission.agree?
							.d-grid.d-block.text-center.p-4{style: "background: green; color: white;"}
								AGREED
			
			-#-----------
			- if @covid.nil?
				%p This user did not fill out a COVID-19 form.
			- else
				%h2 COVID-19
				- if @covid.vaccinated?
					.d-grid.d-block.text-center.p-4{style: "background: green; color: white;"}
						VACCINATED
					.row.mb-4
						.col-3.border.border-dark.p-4
							%ul
								- @covid.vaccination_type.each do |type|
									%li #{type}
						.col-3.border.border-dark.p-4.text-center
							%strong First Shot</br>
							- unless @covid.first_shot.nil?
								= @covid.first_shot.strftime("%B %e, %Y")
						.col-3.border.border-dark.p-4.text-center
							%strong Second Shot</br>
							- unless @covid.second_shot.nil?
								= @covid.second_shot.strftime("%B %e, %Y")
						.col-3.border.border-dark.p-4.text-center
							%strong Booster Shot</br>
							- unless @covid.booster_shot.nil?
								= @covid.booster_shot.strftime("%B %e, %Y")

			-#----------------
			- if @pi.nil?
				%p This user did not fill out a Personal Info form.
			- else
				%h2 Personal Information
				%p 
					%strong Applicant Name:
					= @pi.first_name + " " + @pi.last_name
				%p 
					%strong Gender Identity:
					= @pi.gender.join(" ")
				%p 
					%strong Pronouns:
					= @pi.pronouns.join(" ")
				%p
					%strong Date of Birth:
					= @pi.dob.strftime("%B %e, %Y")
				%p
					%strong Age on August 15, 2022:
					= @aug_15
				%h3.mt-4 Primary Address
				- if @pi.address.present?
					%address
						#{@pi.address.address_l1} <br>
						#{@pi.address.address_l2} <br>
						#{@pi.address.city}, #{@pi.address.state_province.code} #{@pi.address.zippostal} <br>
						#{@pi.address.county.name}, #{@pi.address.state_province.country.name}

				%h3 Primary Phone

			-#-----Background Info
			- if @bi.nil?
				%p This user did not fill out a Background Info form
			- else
				%h2 Background Info
				- unless @bi.about_you.nil?
					%h3 Please tell us a little more about yourself: How did you find out about this DeafBlind Retreat? Through friends, internet, or DB/Deaf service?
					%p #{@bi.about_you}
				- unless @bi.past_camps.nil?
					%h3 Have you joined other DB Retreats or camps before? If yes, where?
					%p #{@bi.past_camps}
				- unless @bi.active_community.nil?
					$h3 Do you have an active DB community in your area? If yes, please describe the community.
					%p #{@bi.active_community}
				- unless @bi.interests.nil?
					%h3 What are your interests? 
					%p #{@bi.interests.join(", ")}
				- unless @bi.other_comments.nil?
					%h3 Any other comments you would like to add?
					%p #{@bi.other_comments}

			-#-------INC
			- if @inc.nil?
				%p This user did not fill out an Identity and Communication form
			- else
				%h2 Identity and Communication
				- unless @inc.identity.nil?
					%h3 What describes you best? Select all the apply to you.
					%p #{@inc.identity.join(", ")}
				- unless @inc.communication_pref.nil?
					%h3 How do you prefer to communicate?  (You can select more than one)
					%p #{@inc.communication_pref.join(", ")}
				- unless @inc.receiv_signs.nil?
					%h3 When using tactile or ProTactile sign language, which hand do you primarily receive signs with?
					%p #{@inc.receiv_signs}
				- unless @inc.dominant_hand.nil?
					%h3 Which hand do you primarily use as your dominant sign hand?
					%p #{@inc.dominant_hand}

			- if @matching.nil?
				%p This user did not fill out a Matching form
			- else
				%h2 Matching
				- unless @matching.work_with_type.nil?
					%h3 Work With Type
					%p #{@matching.work_with_type.join(", ")}
				- unless @matching.height.nil?
					%h3 Height
					%p #{@matching.height}
				- unless @matching.describe_self.nil?
					%h3 How would you generally describe yourself?
					%p #{@matching.describe_self}
				- unless @matching.activity_type.nil?
					%h3 What activities do you like?
					%p #{@matching.activity_type.join(", ")}
				- if @matching.camp_application_matchnps.count > 0
					%h3 Name Preferences
					%p There are #{@matching.camp_application_matchnps.count}
					- @matching.camp_application_matchnps.each do |name|
						%ul
							%li #{name.first_name} #{name.last_name}, #{name.name_type}

			- if @type.kind == "Volunteer"
				%h2 For Volunteers Only
				-#- if @ceu.nil?
				-#	%p This user did not fill out a CEU form
				-#- else
				-#	%h3 Continuing Education Units
				-#	- unless @ceu.certifications.nil?
				-#		%h4 Certifications
				-#		%p #{@ceu.certifications.count}

				- if @training.nil?
					%p The user did not fill out a training form
				- else
					%h3 Training
					- unless @training.training_history.nil?
						%h4 Please select all relevant trainings you have taken regarding DeafBlind.
						%ul
							- @training.training_history.each do |history|
								- unless history == ""
									%li #{history}
								- else
									%li None
					- unless @training.available.nil?
						%h4 Are you available to attend the Volunteer Orientation and Training? The training is on August 13, 14, and 15.
						%p #{@training.available}

				-if @ca.nil?
					%p The user did not fill out a Communication Access form
				-else
					%h3 Communication Access
					-unless @ca.sign_language.nil?
						%h4 Please rate your Sign Language skills. 1 - Beginner, 3 - Intermediate, 5 - Fluent
						%p #{@ca.sign_language}
					-unless @ca.tactile.nil?
						%h4 Please rate your Tactile (TASL) skills. 1 - Beginner, 3 - Intermediate, 5 - Fluent
						%p #{@ca.tactile}
					-unless @ca.pt.nil?
						%h4 Please rate your ProTactile (PT) skills. 1 - Beginner, 3 - Intermediate, 5 - Fluent
						%p #{@ca.pt}

				-if @shift.nil?
					%p The user did not fill out a Shift form
				-else
					%h3 Shifts
					-unless @shift.shifts.nil?
						%h4 Please select which two shifts you are able to work
						%ul
							- @shift.shifts.each do |shift|
								%li #{shift}

				- if @commitment.nil?
					%p This user did not fill out a commitment form
				- else
					%h3 Commitment
					- unless @commitment.commit.nil?
						- if @commitment.commit == true
							%p I am committed to volunteer my time to DBRIB during this retreat.
						- else
							%p I am NOT committed to volunteer my time to DBRIB during this retreat.

			-#----Lodging
			- if @lodging.nil?
				%p The user did not complete a Lodging form
			- else
				%h2 Lodging
				

			


				
			
			
			