.container.mt-4
	.col-md-8.mx-auto
		%h1 Camp Application
		- if current_user.id == @application.user.id
			%p Hi #{@application.camp_application_pi.first_name}.

			%p Our records show that you have submitted an application, and we are in the process of reviewing it.  Stay tuned.

		- if current_user&.admin?
			%h2 Basic Information
			%p
				%strong User Name:
				= @user_name
			%p 
				%strong User Email:
				= @user_email
			- if @confirmed.present?
				%p 
					%strong Confirmed Email:
					= @confirmed
			%p 
				%strong Application Status:
				= @status

			
			.row.mb-4
				.col-6.border.border-dark.p-4
					- if @c3.nil?
						%p This user did not fill out a Communication and Code of Conduct form.
					- else
						%h2 Communication and Code of Conduct
						- if @c3.agree?
							.d-grid.d-block.text-center.p-4{style: "background: green; color: white;"}
								AGREED
				.col-6.border.border-dark.p-4
					- if @permission.nil?
						%p This user did not fill out a Permission form.
					- else
						%h2 Permissions
						- if @permission.agree?
							.d-grid.d-block.text-center.p-4{style: "background: green; color: white;"}
								AGREED
			
			-#-----------
			- if @covid.nil?
				%p This user did not fill out a COVID-19 form.
			- else
				%h2 COVID-19
				- if @covid.vaccinated?
					.d-grid.d-block.text-center.p-4{style: "background: green; color: white;"}
						VACCINATED
					.row.mb-4
						.col-3.border.border-dark.p-4
							%ul
								- @covid.vaccination_type.each do |type|
									%li #{type}
						.col-3.border.border-dark.p-4.text-center
							%strong First Shot</br>
							- unless @covid.first_shot.nil?
								= @covid.first_shot.strftime("%B %e, %Y")
						.col-3.border.border-dark.p-4.text-center
							%strong Second Shot</br>
							- unless @covid.second_shot.nil?
								= @covid.second_shot.strftime("%B %e, %Y")
						.col-3.border.border-dark.p-4.text-center
							%strong Booster Shot</br>
							- unless @covid.booster_shot.nil?
								= @covid.booster_shot.strftime("%B %e, %Y")

			-#----------------
			- if @pi.nil?
				%p This user did not fill out a Personal Info form.
			

			


				
			
			
			