.container.mt-4
	.col-md-6.mx-auto
		%h1 We'd love to hear from you!

		%p Please fill out the form below and we will get back to you as soon as possible.  Thank you in advance.

		= form_with(url: contact_path, model: @contact, data: {turbo: "false"}) do |f|
			.row
				.col-md-6
					.form-floating.mb-4
						= f.text_field :first_name, placeholder: "First Name", class: "form-control border border-dark"
						= f.label :first_name, "First Name"
					
				.col-md-6
					.form-floating.mb-4
						= f.text_field :last_name, placeholder: "Last Name", class: "form-control border border-dark"
						= f.label :last_name, "Last Name"
						
			.form-floating.mb-4
				= f.email_field :email, placeholder: "Your Email Address", class: "form-control border border-dark"
				= f.label :email, "Your Email Address"
				
			.form-floating.mb-4
				= f.text_field :message_subject, placeholder: "Subject", limit: 200, class: "form-control border border-dark"
				= f.label :message_subject, "Subject"
				
			.form-group.mb-4
				= f.label :message, "Your Message"
				= f.text_area :message, class: "border border-dark form-control", placeholder: "Please place your message here.", data:{controller: "textarea-autogrow"}
				
			= f.hidden_field :nickname

			= recaptcha_v3(action: 'contact', noscript: "false")

			.row
				= f.submit "Send Message", class: "btn btn-primary btn-lg"

			