.container.pt-4
	.d-flex
		.flex.p-2
			%a{href: challenge_path(@challenge), aria:{label: "Back to Challenge"}}
				%i.h1.bi.bi-arrow-left-circle{aria:{hidden: "true"}}
		.flex-grow-1.p-2
			%h1 #{@challenge.title}
	.row.p-2
		.col-6.col-lg-2
			%strong Participant: 
		.col-6.col-lg-10.p-2 #{@participant.full_name}

	.row.mt-4
		.col-lg-4.order-1.order-lg-2.p-2
			.form-floating.mb-4
				%label.visually-hidden{for: "pageURL"} Page URL
				%input#pageURL.form-control.border.border-dark{type: "text", readonly: "true", value: "#{challenge_participant_url(@challenge, @participant)}"}
				%label{for: "pageURL", aria:{hidden: "true"}} Page URL
			.progress.border.border-dark
				.progress-bar{role: "progressbar", style: "width: #{@percent}%", aria:{label: "#{@percent.ceil}% Amount Raised", valuenow: "#{@percent}", valuemin: "0", valuemax: "100"}}
			.mt-2.text-center.text-muted.fw-bolder 
				#{number_to_currency(@raised)} / 
				- if @raised.between?(0, 150)
					$150.00
				- elsif @raised.between?(151, 300)
					$300.00
				- elsif @raised.between?(301, 1000)
					$1,000.00
				- elsif @raised > 1000
					$5,000.00
				Raised
			.row.p-4
				= link_to "Donate", new_donation_path(participant_id: @participant.id), class: "btn btn-lg btn-dark", role: "button"
			- if @donations.count > 0
				%h2 My Donors
				- @unique_emails.each do |e|
					.d-flex.border.border-dark{role: "text"}
						.flex-grow-1.p-2
							- if @participant.user_id == current_user&.id
								= e.name
							- else
								- name = e.name.split(" ")
								= name[0] + " " + name[1].split("")[0] + "."
						.flex.p-2
							- unique_donations = @donations.where(email: e.email).all
							- total_amount = []
							- unique_donations.each do |d|
								- total_amount.append(d.amount_deci)
							- total_amount = total_amount.sum
							= number_to_currency(total_amount, precision: 0)


		.col-lg-8.order-2.order-lg-1
			.row.mb-4.mt-4
				.col-6.col-md-5.mx-auto
					.card
						.card-body.position-relative.w-100{style: "padding-top: 100%"}
							.position-absolute.top-0.start-0.bottom-0.end-0.p-4.border-dark{style: "border: 0.5rem solid; border-radius: 50%", role: "text"} 
								.row.h-100
									.align-self-center.text-center
										.display-4.fw-bolder 0
										.display-6.fw-bolder Minutes		
				.col-12.col-md-7.mx-auto
					.card
						.card-body.position-relative.w-100{style: "padding-top: 70%"}
							.position-absolute.top-0.start-0.bottom-0.end-0.p-4
								.row.h-100
									.align-self-center.text-center.p-4
										%h2 Badges
										- if @milestones.empty?
											.text-muted.fw-folder You haven't earned any badges yet!
										- else
											.row
												- @milestones.each do |m|
													.col-3.mx-auto.card.mb-4
														.card-img-top.position-relative.w-100{style: "padding-top: 100%"}
															.position-absolute.top-0.start-0.bottom-0.end-0
																.row.h-100
																	- unless m.challenge_milestone.photo.nil? 
																		%img{src: url_for(m.challenge_milestone.photo.file), alt: "#{m.challenge_milestone.name} #{m.challenge_milestone.milestone_type} Badge", width: "100%", style: "height: 100%"}	

			
			
		