.container.pt-4
	.d-flex
		.flex.p-2
			%a{href: challenge_path(@challenge), aria:{label: "Back to Challenge"}}
				%i.h1.bi.bi-arrow-left-circle{aria:{hidden: "true"}}
		.flex-grow-1.p-2
			%h1 #{@challenge.title}
	.row.p-2
		.col-6.col-lg-2
			%strong Participant: 
		.col-6.col-lg-10.p-2 #{@participant.full_name}

	.row.mt-4
		#leftSide.col-lg-8.order-2.order-lg-1
			.row.mb-4.mt-4
				.col-6.col-md-5.mx-auto
					.card
						.card-body.position-relative.w-100{style: "padding-top: 100%"}
							.position-absolute.top-0.start-0.bottom-0.end-0.p-4.border-dark{style: "border: 0.5rem solid; border-radius: 50%"} 
								.row.h-100
									.align-self-center.text-center
										.display-4.fw-bolder 0
										.display-6.fw-bolder Minutes		
				.col-md-7.mx-auto
					.card
						.card-body.position-relative.w-100{style: "padding-top: 70%"}
							.position-absolute.top-0.start-0.bottom-0.end-0.p-4
								.row.h-100
									.align-self-center.text-center.p-4
										%h2 Badges
										.text-muted.fw-folder You haven't earned any badges yet!		
			
			
		#rightSide.col-lg-4.order-1.p-2{aria:{flowto: "leftSide"}}
			.form-floating.mb-4
				%input#pageURL.form-control.border.border-dark{type: "text", readonly: "true", value: "#{challenge_participant_url(@challenge, @participant)}"}
				%label{for: "pageURL"} Page URL
			.progress.border.border-dark
				.progress-bar{role: "progressbar", style: "width: #{@percent}%", aria:{label: "#{@percent.ceil}% Amount Raised", valuenow: "#{@percent}", valuemin: "0", valuemax: "100"}}
			.mt-2.text-center.text-muted.fw-bolder 
				#{number_to_currency(@raised)} / 
				- if @raised.between?(0, 150)
					$150.00
				- elsif @raised.between?(151, 300)
					$300.00
				- elsif @raised.between?(301, 1000)
					$1,000.00
				- elsif @raised > 1000
					$5,000.00
				Raised
			.row.p-4
				= link_to "Donate", new_donation_path(participant_id: @participant.id), class: "btn btn-lg btn-dark", role: "button"
			- if @donations.count > 0
				%h2 My Donors
				- @donations.uniq{ |x| x.email }.each do |d|
					.d-flex.border.border-dark
						.flex-grow-1.p-2
							- if @participant.user_id == current_user&.id
								= d.name
							- else
								- name = d.name.split(" ")
								= name[0] + " " + name[1].split("")[0] + "."
						.flex.p-2
							- @donations = @donations.where(email: d.email)
							- total_amount = []
							- @donations.each do |de|
								- total_amount.append(de.amount_deci)
							= number_to_currency(total_amount.sum, precision: 0)
