.container.pt-4
	.d-flex
		.flex-grow-1.p-2
			%h1 #{@survey.title}
		.p-2
			.row.p-2
				= link_to "View", survey_path(@survey), class: "btn btn-lg btn-dark", role: "button"
	.row
		= render partial: "sidebar", locals: {survey: @survey}
		.col-md-9.p-4
			= form_with(model: @survey) do |f|
				.form-group.mb-4
					= f.label :description, "Description"
					= f.text_area :description, class: "form-control border border-dark", data:{controller: "textarea-autogrow"}
				.row.m-2
					= f.submit "Save", class: "btn btn-dark btn-lg"
		