.container.pt-4
	.d-flex
		.flex-grow-1.p-2
			%h1 #{@survey.title}
		.p-2
			.row.p-2
				%a.btn.btn-dark.btn-lg{href: survey_path(slug: @survey.slug), data: {turbo: {frame: "_top"}}} View
	.row
		= render partial: "sidebar", locals: {survey: @survey}
		.col-md-9.p-4
			%turbo-frame{id: "rightSide", data: {turbo: {action: "advance"}}}
				= render partial: "surveys/basic_info/title", locals: {survey: @survey}
				= render partial: "surveys/basic_info/slug", locals: {survey: @survey}
				= render partial: "surveys/basic_info/survey_type", locals: {survey: @survey}	
				= render partial: "surveys/basic_info/short_description", locals: {survey: @survey}	
				= render partial: "surveys/basic_info/long_description", locals: {survey: @survey}	