.container.mt-4
	.col-md-8.mx-auto
		%h1 Training

		%p Training is mandatory for all volunteers.

		= form_with(model: [camp, application, training]) do |f|
			.fieldset.required.border.border-dark.ps-4.pe-4.pt-4.mb-4
				= render '/shared/check_box_group', f: f, inst: @training, legend: "Please select all relevant trainings you have taken regarding DeafBlind.", helper_text: nil, this_method: training_history, attribute: "training_history", cols: nil
				
				- a1 = []
				- if !training.training_history.nil?
					- training.training_history.each do |t|
						- if !training_history.include?(t)
							- a1 << t
				- training_value = a1.join(" ")

				.form-floating.mb-4
					- if a1.empty?
						%input.border.border-dark.form-control{type: "text", name: "camp_application_training[training_history][]", id: "camp_application_pi_training_history_other", placeholder: "Other Training"}
					- else
						%input.border.border-dark.form-control{type: "text", name: "camp_application_training[training_history][]", id: "camp_application_pi_training_history_other", placeholder: "Other Training", value: training_value}
					%label{for: "camp_application_pi_training_history_other"} Other Training
			
			.fieldset.required.border.border-dark.ps-4.pe-4.pt-4.mb-4
				%legend Are you available to attend the Volunteer Orientation and Training? The training is on August 13, 14, and 15. 

				.row.mb-4
					- yes_no.each do |tof|
						.col-6.d-grid.d-block.mb-2
							- value = nil
							- if tof.first == "true"
								- value = true
							- else
								- value = false
							= f.radio_button :available,  value, class: "btn-check"
							- symlabel = ("available_" + tof.first).to_sym
							= f.label symlabel, tof.last, class: "btn btn-outline-dark btn-lg text-start"
			
			.row
				.col-6
					.row.p-2
						= link_to "Go Back", new_camp_camp_application_camp_application_ceu_path(@camp, @application), class: "btn btn-secondary btn-lg", role: "button"
				.col-6
					.row.p-2
						= f.submit "Continue", class: "btn btn-primary btn-lg"
