.container.pt-4
	%h1 Challenges
	- if current_user&.admin?
		= link_to "New Challenge", new_challenge_path

	.row
		- @challenges.each do |c|
			- if c.status == "draft"
				- if current_user&.admin?
					.col-6.col-md-4
						.card.border.border-dark
							.card-img-top.position-relative.w-100{style: "padding-top: 56.25%"}
								.position-absolute.top-0.start-0.bottom-0.end-0
									.row.h-100
										- unless c.photo.nil?
											%img{src: url_for(c.photo.file), alt: "", width: "100%", style: "height: 100%"}
							.card-body
								%a.h2.stretched-link.card-title.text-dark.text-decoration-none{href: challenge_path(c)} #{c.title}
								.text-muted Starts: #{local_time(c.start)}
								.text-muted Ends: #{local_time(c.end)}
			- else
				.col-6.col-md-4
					.card.border.border-dark
						.card-img-top.position-relative.w-100{style: "padding-top: 56.25%"}
							.position-absolute.top-0.start-0.bottom-0.end-0
								.row.h-100
									- unless c.photo.nil?
										%img{src: url_for(c.photo.file), alt: "", width: "100%", style: "height: 100%"}
						.card-body
							%a.h2.stretched-link.card-title.text-dark.text-decoration-none{href: challenge_path(c)} #{c.title}
							.text-muted Starts: #{local_time(c.start)}
							.text-muted Ends: #{local_time(c.end)}
						