.container
	.position-relative.w-100.bg-dark.text-light{style: "padding-top: 37.5%"}
		.position-absolute.top-0.start-0.bottom-0.end-0
			.row.h-100
				- unless @challenge.photo.nil?
					%img{src: url_for(@challenge.photo.file), alt: "Banner Image of people exercising", width: "100%", style: "height: 100%"}
	
	.d-flex
		.flex-grow-1.p-2
			%h1 #{@challenge.title}
		- if current_user&.admin?
			.p-2
				.dropdown
					%button.btn.btn-dark.btn-lg.dropdown-toggle{type: "button", data:{bs:{toggle: "dropdown"}}, aria:{expanded: "false"}} 
						%i.bi.bi-gear-fill
					%ul.dropdown-menu.dropdown-menu-end.border.border-dark
						%li.mb-0
							= link_to "Edit Challenge", edit_challenge_path(@challenge), class: "dropdown-item", role: "button"
						%li.mb-0
							= link_to "Participants (#{@participants.count})", challenge_participants_path(@challenge), class: "dropdown-item", role: "button"
						%li.mb-0
							= link_to "Milestones", challenge_milestones_path(@challenge), class: "dropdown-item", role: "button"
						%li.mb-0
							= link_to "FAQs", challenge_faqs_path(@challenge), class: "dropdown-item", role: "button"
	
	.row.mb-4.p-2
		.col-md-6
			.row.mt-4.border.border-dark{role: "text"}
				.col-6.p-2
					%strong Start Date and Time
				.col-6.p-2
					= local_time(@challenge.start)
			.row.border.border-dark{role: "text"}
				.col-6.p-2
					%strong End Date and Time
				.col-6.p-2
					= local_time(@challenge.end)
		- unless current_user&.id.in?(@users)
			.d-md-none.col-12.text-center.p-4
				= link_to "Register / Login", new_challenge_participant_path(@challenge), class: "btn btn-lg btn-dark", role: "button"
			.d-none.d-md-block.col-md-6.text-end.p-4
				= link_to "Register / Login", new_challenge_participant_path(@challenge), class: "btn btn-lg btn-dark", role: "button"
		
		- else
			- unless current_user&.admin?
				.d-md-none.col-12.text-center.p-4	
					= link_to "View My Participant Page", challenge_participant_path(@challenge, @participant.id), class: "btn btn-lg btn-dark", role: "button"
				.d-none.d-md-block.col-md-6.text-end		
					= link_to "View My Participant Page", challenge_participant_path(@challenge, @participant.id), class: "btn btn-lg btn-dark", role: "button"
	
	.row.mb-4
		.col-12.col-md-8
			%h2 Description
			= simple_format(@challenge.description)
		.col-12.col-md-4
			- if @donor_count > 0
				%h2 Top Donors
				- @top_donors.each do |d|
					.d-flex.border.border-dark{role: "text"}
						.flex-grow-1.p-2
							= d[:name]
						.flex.p-2
							= number_to_currency(d[:total], precision: 0)

	%h2.text-center The Stats
	.col-10.col-md-8.mx-auto.progress.border.border-dark{style: "height: 3rem"}
		.progress-bar{role: "progressbar", style: "width: #{@challenge.overall_percent}%", aria:{label: "Percent Raised", valuenow: "#{@challenge.overall_percent}", valuemin: "0", valuemax: "100"}}
	.col-10.col-md-8.mx-auto.mt-2.text-center.text-muted.fw-bolder 
		#{number_to_currency(@challenge.total_raised, precision: 0)} / #{number_to_currency(@challenge.total_goal, precision: 0)} Raised
				
	.row.mb-4.mt-4
		.col-6.col-md-3.mx-auto
			.card
				.card-body.position-relative.w-100{style: "padding-top: 100%"}
					.position-absolute.top-0.start-0.bottom-0.end-0.p-4.border-dark{style: "border: 0.5rem solid; border-radius: 50%"} 
						.row.h-100
							.align-self-center.text-center{role: "text"}
								.display-4.fw-bolder #{@participants.count}
								.display-6.fw-bolder Participants		
		.col-6.col-md-3.mx-auto
			.card
				.card-body.position-relative.w-100{style: "padding-top: 100%"}
					.position-absolute.top-0.start-0.bottom-0.end-0.p-4.border-dark{style: "border: 0.5rem solid; border-radius: 50%"}
						.row.h-100
							.align-self-center.text-center{role: "text"}
								.display-4.fw-bolder #{@donor_count}
								.display-6.fw-bolder Donors				
	
	%figure.col-12.col-md-8.mb-4.mt-4.mx-auto
		.h3.text-center{aria:{hidden: "true"}} Total Time By Activity
		.text-muted.text-center{aria: {hidden: "true"}} #{@total_time}
		%canvas{aria:{hidden: "true"}, data:{controller: "chart", chart:{data:{value: @chart_data.to_json}, type:{value: "pie"}, options: {value: @chart_options.to_json}}}}
		%figcaption.text-center
			A pie chart of "Total Time By Activity" with a subtitle calculating total time at #{@total_time} showing 
			- count = []
			- @challenge.activity_values.each do |a|
				- unless a == 0
					- count.append(a)
			= count.count 
			activities exercised, in minutes: 
			- exercise_activity_options.each_with_index do |e, ei|
				- @challenge.activity_values.each_with_index do |a, ai|
					- if ei == ai and a > 0
						#{e} at #{a}.

	- unless @fundraising.count == 0
		%h2.text-center.mt-4 Fundraising Milestones
		.row
			- @fundraising.each do |f|
				.col-6.col-md-3.card.mb-4
					.card-img-top.position-relative.w-100{style: "padding-top: 100%"}
						.position-absolute.top-0.start-0.bottom-0.end-0
							.row.h-100
								- unless f.photo.nil? 
									%img{src: url_for(f.photo.file), alt: "", width: "100%", style: "height: 100%"}	
					.card-body.text-center
						%h3.card-title #{f.name}
						%p.card-text When you reach #{number_to_currency(f.goal, precision: 0)}, you are eligible to earn a #{f.prize}.
	- unless @exercise.count == 0
		%h2.text-center Exercise Milestones
		.row
			- @exercise.each do |f|
				.col-6.col-md-3.card.mb-4
					.card-img-top.position-relative.w-100{style: "padding-top: 100%"}
						.position-absolute.top-0.start-0.bottom-0.end-0
							.row.h-100
								- if f.photo.file.attached?
									%img{src: url_for(f.photo.file), alt: "", width: "100%", style: "height: 100%"}	
					.card-body.text-center
						%h3.card-title #{f.name}
						%p.card-text When you reach #{f.goal} minutes, you are eligible to earn a #{f.prize}.

	.col-12.col-md-8.mx-auto.pt-4
		%h2.text-center Frequently Asked Questions
		
		#faqs.accordion
			- @faqs.each_with_index do |q, i|
				- if q.group_number == 0
					.accordion-item
						%h3.accordion-header{id: "heading#{i}"} 
							%button.h3.accordion-button{type: "button", data:{bs:{toggle: "collapse",  target: "#collapse#{i}", aria:{expanded: "true", controls: "collapse#{i}"}}}} #{q.question_group}
						.ms-4.ps-4accordion-collapse.collapse.show{id: "collapse#{i}", aria:{labelledby: "heading#{i}"}, data:{bs:{parent: "#faqs"}}}
							= q.answer.html_safe

			- @groups.each_with_index do |g, i|
				- if i > 0
					.accordion-item
						%h3.accordion-header{id: "heading#{i}"}
							%button.accordion-button{type: "button", data:{bs:{toggle: "collapse",  target: "#collapse#{i}", aria:{expanded: "false", controls: "collapse#{i}"}}}} #{g[:group]}
						.ps-4.accordion-collapse.collapse{id: "collapse#{i}", aria:{labelledby: "heading#{i}"}, data:{bs:{parent: "#faqs"}}}
							.accordion{id: "faqGroup#{i}"}
								- @faqs.each_with_index do |q, qi|
									- if i == q.group_number and i > 0
										.mb-4
											%h4.accordion-header{id: "heading#{i}_#{qi}"} 
												%button.accordion-button{type: "button", data:{bs:{toggle: "collapse",  target: "#collapse#{i}_#{qi}", aria:{expanded: "false", controls: "collapse#{i}_#{qi}"}}}} #{q.question}
												.ps-2.accordion-collapse.collapse{id: "collapse#{i}_#{qi}", aria:{labelledby: "heading#{i}_#{qi}"}, data:{bs:{parent: "#faqGroup#{i}"}}}
													.ps-4
														= q.answer.html_safe									
