.container.pt-4
	%h1 #{@challenge.title}

	.row.mt-4.border.border-dark
		.col-6.p-2
			%strong Start Date and Time
		.col-6.p-2
			= local_time(@challenge.start)
	.row.border.border-dark
		.col-6.p-2
			%strong End Date and Time
		.col-6.p-2
			= local_time(@challenge.end)
	- unless @challenge.challenge_participants.map { |p| p.user_id == current_user.id}
		.mt-4
			= link_to "Register Now", new_challenge_participant_path(@challenge), class: "btn btn-lg btn-dark", role: "button"
	.mt-4
		= simple_format(@challenge.description)