.container.pt-4
	.d-flex
		.flex-grow-1.p-2
			%h1 #{@survey.title}
		.p-2
			.row.p-2
				= link_to "View", survey_path(@survey), class: "btn btn-lg btn-dark", role: "button"
	.row
		= render partial: "surveys/sidebar", locals: {survey: @survey}
		.col-md-9.p-0
			%turbo-frame{id: "rightSide", data: {turbo: {action: "advance"}}}
				.d-flex.bg-dark.text-light.p-2
					.p-2{data: {controller: "bootstrap"}}
						%a.btn.btn-dark.btn-lg.border.border-light{href: "#", title: "Back", style: "border-radius: 50%", data: {bs: {toggle: "tooltip", placement: "bottom", title: "Back"}}}
							%i.bi.bi-chevron-left{aria: {hidden: "true"}}
					.flex-grow-1.p-2
						%h2 Section #{@section.section_number}
					.p-2{data: {controller: "bootstrap"}}
						= button_to survey_section_path(survey_slug: @survey.slug, sec_num: @section.section_number), method: :delete, data: {bs: {toggle: "tooltip", placement: "bottom", title: "Move Up"}}, title: "Delete", aria: {label: "Delete"}, class: "btn btn-dark btn-lg border border-light", style: "border-radius: 50%" do 
							%i.bi.bi-trash{aria: {hidden: "true"}}
					.p-2{data: {controller: "bootstrap"}}
						%a.btn.btn-dark.btn-lg.border.border-light{href: "#", title: "Move Up", style: "border-radius: 50%", data: {bs: {toggle: "tooltip", placement: "bottom", title: "Move Up"}}}
							%i.bi.bi-chevron-up{aria: {hidden: "true"}}
					.p-2{data: {controller: "bootstrap"}}
						%a.btn.btn-dark.btn-lg.border.border-light{href: "#", title: "Move Down", style: "border-radius: 50%", data: {bs: {toggle: "tooltip", placement: "bottom", title: "Move Down"}}}
							%i.bi.bi-chevron-down{aria: {hidden: "true"}}
					.p-2{data: {controller: "bootstrap"}}
						%a.btn.btn-dark.btn-lg.border.border-light{href: "#", title: "Settings", style: "border-radius: 50%", data: {bs: {toggle: "tooltip", placement: "bottom", title: "Settings"}}}
							%i.bi.bi-gear{aria: {hidden: "true"}}
				
				.p-4
					= render partial: "surveys/sections/title", locals: {section: @section}
					= render partial: "surveys/sections/description", locals: {section: @section}
					= render partial: "surveys/sections/questions_btn", locals: {section: @section}
				