!!!
%html{lang: "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title #{@meta_title.present? ? @meta_title : 'DBSAN'}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    
  %body.d-flex.flex-column.min-vh-100
    = render 'layouts/navs/topnav'
    .container.mb-4
      .row.mt-2.sticky-top
        %h1 Admin Console
      .row
        .col-md-3
          = render "layouts/navs/admin_sidebar"
        .col-md-9
          = yield
    
    
